<style>
  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
</style>
<style>
    p {
      text-align: center;
    }
    a {
      color: #3498db;
      text-decoration: none;
    }
    a:hover {
      /* text-decoration: underline; */
      border: 2px solid #3498db;
      border-top: none;
      border-left: none;
      border-right: none;
    }
</style>
<h1>NodeJS Auth Essentials</h1>
<p>
  Hello, welcome to<br>
  <strong>NodeJS Auth Essentials</strong><br><br>
  Taught by <strong><a href="<%= link %>" target="_blank"><%= author %></a></strong>
</p>
